@import 'settings';
@import 'foundation';
@include foundation-everything (true);

$numeroVerde-color: #008a2e !default;
$evidence-color: #ffed00 !default;
$button-background-hover: scale-color($evidence-color, $lightness: -15%);
$rosso-color: #FF0A0A !default;
$ctaButton-header-color: $evidence-color !default;
$ctaButton-radius: 30px !default;


.title-container {
    background: url("https://lh3.googleusercontent.com/RkRXOMT7jHnoTHY7VPh6vdgkVE9O0gEkVzhWrZyHV3Jin-29JzDwCZcPqzne3jTlUqYGDR1leNpfdvZv77U0PuMJTKobkLFFwSzEuFuDasweg6PcidMPeur8Kce93MyQ0tV88Ojwf4QTySyOSonF_Qc2rwVG98pmkbDHOhKclxh7888Me6d5owtU72MeAlegGTP0orjv70yUcTcAi7QqsUl1wcCigTJk7DmgYAuxhNCXih96SipzfNNDEw1ZhZM1JZE7Sd1U0-kW4EvO_niNTSii4iDzk-OJdHtW60655pc0dSlGI78uqHGOvGfOIPlA_a7eOkFWumzzB8WJBYZph323DYQbO4otE67Mis1pX9O8JLmBNOYCEXLVJzKcJG8vaehiynsg1vSKnRloVpJqHh1BnwvO57Atlz6PK_lKAejPVpAMR1EixEDT3tQ5Q-hH_sK6WYIPEFzh6eLWifRRcxzKz8iee2c-kxEYc3Hzik8UYDUPN8kC5D_KJr7Q2YXjb89laei0tl7o4jDKnXfxbtgpC1bjS5eaBIZLMn5DFhZKXyDkDFUkc4um8nQ0MzPzAgAXKA=w1175-h781-no") center no-repeat;
    background-size: cover;
    padding: 5%;
    margin-bottom: 10px;

    .title {
        background-color: rgba(255,255,255,0.8);
        text-align: center;
        letter-spacing: 1px;
        color: $body-font-color;
        .big {
            font-size: rem-calc(70, null);
            text-transform: none;
            font-weight: 700;
            font-style: normal;
        }

        .medium {
            font-size: rem-calc(50, null);
            text-transform: none;
            font-weight: 100;
            font-style: normal;
        }
    }
}

.banner {
    text-align: center;
    padding-top: rem-calc(50, null);
    padding-bottom: rem-calc(50, null);
    padding-left: rem-calc(20, null);
    padding-right: rem-calc(20, null);

    .sconto {
        font-size: rem-calc(80, null);
        font-weight: 700;
        color: $rosso-color;
        line-height: 5rem;
    }

    .subSconto {
        font-size: rem-calc(40, null);
        font-weight: 300;
        line-height: 5rem;
        color: #000000;
    }
}

.domande {
    padding-top: 30px;
    p, li {
        font-size: 85%;
        line-height: 1.9em;
        letter-spacing: .5px;
        font-weight: 300;
        font-style: normal;
        color: rgba(31,37,38,.75);

    }

    .callout {
        margin-bottom: 1.5rem;
    }

    h5 {
        margin-bottom: 10px;
    }

}

hr {
    width: 99%;
}

.applicazioni {

    p, li {
        font-size: 90%;
        line-height: 1.6em;
        letter-spacing: .4px;
        font-weight: 300;
        font-style: normal;

    }

    h4 {
        font-weight: 700;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    img {
        padding-bottom: 20px;
    }
}

.ctaButton {
    @include button-style($evidence-color, $button-background-hover, #000000);
    font-size: rem-calc(20, null);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.evidenza {
    background-color: $evidence-color;
    padding: rem-calc(20, null);
    text-align: center;
    margin-bottom: 1rem;

    span {
        text-transform: uppercase;
        font-size: 32px;
        line-height: 1.2em;
        letter-spacing: 0px;
        font-weight: 300;
        font-style: normal;
        color: $black;
    }
}

.small {
  font-size: rem-calc(13, null);
}

.box_nverde {
    text-align: center;
    line-height: 2.1875rem;
}

.numero-verde {
    font-size: rem-calc(40, null);
    color: #008a2e;
}

.center {
    text-align: center;
}

.top-bar {
    padding: 0rem;
}

.top-bar-right {
    padding-top: 0.5rem;
}

.callout {
    margin: 0rem;
}

