<div id="form" class="row evidenza clearfix">
    <div class="float-center">
        <span>Calcola il tuo preventivo</span><br>
        gratuito e senza impegno
    </div>

</div>
<div class="row">
    <div class="small-12 medium-7 columns callout">
        <form data-abide novalidate>
            <!-- <div data-abide-error class="alert callout" style="display: none;">
                <p><i class="fi-alert"></i> Si sono verificati alcuni errori evidenziati in rosso.</p>
            </div> -->
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label>Nome*
                        <input type="text" name="nome" required>
                        <span class="form-error">
                            Il campo Nome è obbligatorio
                        </span>
                    </label>
                </div>
                <div class="small-12 medium-6 columns">
                    <label>Cognome*
                        <input type="text" name="cognome" required>
                        <span class="form-error">
                            Il campo Cognome è obbligatorio
                        </span>
                    </label>
                </div>
            </div>
            <div class="row show-for-large">
                <div class="small-12 medium-6 columns">
                    <label>Di quanti defibrillatori hai bisogno?
                        <input type="number" name="quantita" value="1">
                    </label>
                </div>
                <div class="small-12 medium-6 columns">
                    <legend>Struttura frequentata da bambini?</legend>
                        <input type="radio" name="bambini" value="no" id="bambiniNo" checked><label for="bambiniNo">No</label>
                        <input type="radio" name="bambini" value="si" id="bambiniSi"><label for="bambiniSi">Si</label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label>E-Mail*
                        <input type="email" name="email" required>
                        <span class="form-error">
                            Il campo E-Mail è obbligatorio
                        </span>
                    </label>
                </div>
                <div class="small-12 medium-6 columns">
                    <label>Telefono
                        <input type="tel" name="telefono">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <label>
                        Richieste o Domande?
                        <textarea placeholder="Richiedi un preventivo oppure fai una domanda. Ti risonederemo in pochi minuti!" rows="4" cols="50" name="messaggio"></textarea>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <input type="checkbox" name="privacy" id="privacy" required checked>
                        <label for="privacy">
                            Ho letto e accetto l'informativa sulla <a href="/privacy" target="_blank">Privacy</a>
                            <span class="form-error">
                                <p>Accetta l'informativa sulla privacy!</p>
                            </span>
                        </label>
                </div>
            </div>
            <div class="row">
                <fieldset class="small-12 columns">
                    <button class="ctaButton button" type="submit" value="Submit">Calcola il tuo Preventivo</button>
                </fieldset>
            </div>
      </form>
    </div>
    <div class="large-5 medium-5 columns show-for-medium-up clearfix">
            <div class="row">
                <div class="columns vantaggiForm">
                    <p>
                        <div class="box_nverde center">
                            <span>Se preferisci usa il Numero Verde gratuito!</span><br />
                            <span class="numero-verde"> 800 782 217 </span><br />
                            <span>Lun-Ven dalle 8.30 alle 17.30</span>
                        </div>
                    </p>
                    <h5>
                        <i class="fa fa-money"></i> Usufruisci del 43% di sconto
                    </h5>
                    <h5>
                        <i class="fa fa-tachometer"></i> Ricevi un preventivo in pochi minuti
                    </h5>
                    <h5>
                        <i class="fa fa-check"></i> Nessun impegno di acquisto
                    </h5>
                    <h5>
                        <i class="fa fa-user"></i> Un esperto è sempre a tua disposizione
                    </h5>
                </div>
            </div>
    </div>
</div>