<div class="row">
    <div class="columns">
        <h2>Perchè scegliere un defibrillatore PHILIPS</h2>
    </div>
</div>
<div class="row align-stretch">
    <div class="small-12 medium-12 columns large-6  domande">
        <div>
            <h5><i class="fa fa-thumbs-o-up"></i> Certificato FDA (Food and Drug Administration)</h5>
            <p class="show-for-medium">
                Il mercato americano è il primo e maggiore mercato mondiale per la vendita di defibrillatori: la Certificazione FDA (ente americano sulla sicurezza) garantisce l’applicazioni di standard molto rigorosi nella verifica di affidabilità.
            </p>
        </div>
    </div>

    <div class="small-12 medium-12 columns large-6  domande">
        <div>
            <h5><i class="fa fa-thumbs-o-up"></i> Installazione e collaudo presso la vostra sede</h5>
            <p class="show-for-medium">
                Il nostro dispositivo verrà <strong>messo in opera e collaudato da un nostro tecnico senza costi aggiuntivi</strong>. Non dovrai preoccuparti di nulla!
            </p>
        </div>
    </div>
</div>
<div class="row align-stretch">
    <div class="small-12 medium-12 columns large-6  domande">
        <div>
            <h5><i class="fa fa-thumbs-o-up"></i> 8 anni di Garanzia</h5>
            <p class="show-for-medium">
                Su <srong>tutte le componenti tecnologiche</srong> del nostro dispositivo escluse le parti consumabili.
            </p>
        </div>
    </div>
    <div class="small-12 medium-12 large-6  columns domande">

        <div>
            <h5><i class="fa fa-thumbs-o-up"></i> Centri Assistenza in tutta Italia</h5>
            <p class="show-for-medium">
                Iredeem, distributore Ufficiale di Philips, è una realtà al 100% italiana con sede a Bologna. <strong>La Philips, multinazionale Olandese ha sede a Monza</strong>. Siamo persone vicine a te!
            </p>
        </div>
    </div>
</div>
<div class="row align-stretch">
    <div class="small-12 medium-12 large-6  columns domande">
        <div>
            <h5><i class="fa fa-thumbs-o-up"></i> Bassi costi delle parti consumabili</h5>
            <p class="show-for-medium">
                <ul>
                    <li>Batteria: <strong>165 Euro + IVA</strong></li>
                    <li>Coppia di elettrodi per adulti: <strong>65 Euro + IVA</strong></li>
                    <li>Coppia di elettrodi pediatrici: <strong>111 Euro + IVA</strong></li>
                </ul>
            </p>
        </div>

    </div>
    <div class="small-12 medium-12 large-6  columns domande">
        <div>
            <h5><i class="fa fa-thumbs-o-up"></i> Aggiornamenti inclusi</h5>
            <p class="show-for-medium">
                In caso di modifica dei protocolli di sicurezza, il tuo dispositivo verrà aggiornato gratuitamente.
                La Philips provvede ad inviare un proprio tecnico per gli aggiornamenti <strong>senza alcuna spesa da parte del cliente</strong>!
            </p>
        </div>

    </div>
</div>
<div class="row align-stretch">
    <div class="small-12 medium-12 large-6  columns domande">
        <div>
            <h5><i class="fa fa-thumbs-o-up"></i> Software per lo scarico dei dati incluso nel prezzo</h5>
            <p class="show-for-medium">
                I defibrillatori Philips sono dotati di software incluso nel prezzo.
                In più in caso di uso, <strong>potrai contare sul nostro tecnico per scaricare i dati</strong>. Nessuna preoccupazione, non ti lasciamo solo!
            </p>
        </div>

    </div>
    <div class="small-12 medium-12 large-6  columns">
        <p>
            <!-- <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/ab4abd0a2ca392b565177bcd3f2dfa7b1fb2ec20_aed0310-dl-091209-2906f.jpg" /> -->
        </p>
    </div>
</div>