<section class="show-for-medium">
    <div class="row">
        <div class="columns">
            <h4>Speciali convenzioni con <strong>LND</strong> della FIGC - <strong>FISE</strong> - <strong>ILCOR Comunità</strong>:</h4>
        </div>
    </div>
    <div class="row medium-unstack align-stretch">
        <div class="columns">
            <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/ec85a64be853c56d7195c7076adba69857a26f3d_csi.png">
        </div>
        <div class="columns">
            <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/a7eeb95c1da5973f3d0653a94f69aff862dd5c61_logo-fip.png">
        </div>
        <div class="columns">
            <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/6114dac7f5ef54486d094f548fff458417fae280_logo_libertas.jpg">
        </div>
        <div class="columns">
            <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/4b9fe64d3a002c1c7b3ed1080b6267d061e981a0_logo_fibs.jpeg">
        </div>
        <div class="columns">
            <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/880c70d35e92438361dd570d7a36be20047649ba_logo_aics.jpeg">
        </div>
    </div>
    <div class="row">
        <div class="columns">

        </div>
    </div>
</section>
<section class="show-for-small-only">
    <div class="row">
        <div class="columns">
            <h4>Speciali convenzioni con:</h4>
        </div>
    </div>
    <div class="row small-unstack align-stretch">
        <div class="columns domande">
            <p>LND - Lega Nazionele Dilettanti della FIGC</p>

            <p>FISE - Federazione Italiana Sport Equestri</p>

            <p>CSI - Centro sportivo italiano</p>

            <p>Fip - Federazione Italiana Pallacanestro</p>

            <p>FIBS - Federazione Italiana Baseball Softball</p>

            <p>AICS - Associazione Italiana Cultura e Sport</p>

            <p>ILCOR Comunità</p>
        </div>
    </div>
    <div class="row">
        <div class="columns">

        </div>
    </div>
</section>
<hr>