---
title: Defibrillatore Semiautomatico Philips - Il più Venduto al Mondo!
description: Scopri Prezzi, Promozioni e Tutte le Informazioni del Defibrillatore Semiautomatico Philips. Richiedi ora per Maggiori Informazioni!
testata:
    prima_riga: Defibrillatore Philips
    seconda_riga: Il più venduto nelle Aziende!
immagineTestata: https://philips-defibrillatori.cdn.prismic.io/philips-defibrillatori/ec7570846dc97c63b6ffa7f990b9ad1eecb38a8e_luoghi-di-lavoro.jpg

conversionCode: >
                    <!-- MOMENT -->
                    <script src="https://s3-eu-west-1.amazonaws.com/cdn.fucinadeltag.it/moment.js"></script>
                    <script type="text/javascript">
                        moment.locale('it');
                        var lastDayOfMonth = moment().endOf('month').format("D\ MMMM YYYY");
                        $(".dataPromo").html(lastDayOfMonth);
                    </script>
                    <!-- /MOMENT -->

---
<%= partial "partials/promo_section" %>

<div class="row">
    <div class="small-12 medium-7 columns">
        <div class="row domande">
                <div class="small-12 medium-12 large-12 columns">
                        <h2><strong>Lavorare in sicurezza conviene</strong></h2>

                        <p class="callout">
                            Sono previsti diversi <strong>sgravi fiscali, detrazioni e sconti</strong> per le aziende che decidono di acquistare un defibrillatore e formare i propri dipendenti con un corso BLSD.
                        </p>

                        <span>
                            <h5><i class="fa fa-check-square-o"></i> SUPER AMMORTAMENTO AL 140%</h5>
                            <p>
                                Il super <strong>ammortamento al 140%</strong> sostiene e incentiva gli investimenti in beni materiali strumentali nuovi, incluso il defibrillatore, da parte delle aziende italiane.
                                <br>Su questi acquisti, al beneficiario (azienda o lavoratore autonomo) spetta una maggiorazione del 40% del costo di acquisto, ai soli fini della determinazione delle quote di ammortamento e canoni di locazione finanziaria.
                            </p>
                            <h5><i class="fa fa-check-square-o"></i> RIDUZIONE PREMIO INAIL</h5>
                            <p>
                                L’acquisto del defibrillatore fa parte di quegli interventi che permettono di ottenere lo <strong>sconto per prevenzione dell’Inail</strong>.
                                <br>L'Inail infatti premia con uno "sconto" le aziende che decidono di potenziare le condizioni di sicurezza e di igiene nei luoghi di lavoro, in aggiunta alle condizioni minime previste per legge.
                            </p>
                            <h5><i class="fa fa-check-square-o"></i>  CORSI GRATUITI PER DIPENDENTI</h5>
                            <p>
                                Lo 0,3%  dei contributi previdenziali INPS è destinato alla formazione dei dipendenti! Tra i corsi finanziabili con questi fondi ci sono anche i corsi BLSD per apprendere l’uso del defibrillatore e le tecniche di rianimazione cardiopolmonare.
                                <br> Le aziende con dipendenti possono quindi <strong>finanziare interamente</strong> le spese di formazione del proprio personale.
                            </p>
                            <h5><i class="fa fa-check-square-o"></i> DONAZIONI A FAVORE DI ONLUS</h5>
                            <p>
                                Le persone fisiche e gli enti soggetti all’IRES, in particolare società ed enti commerciali e non commerciali, possono dedurre dal reddito complessivo le liberalità a favore di associazioni sportive, ONLUS, associazioni di promozione sociale e fondazioni, nel limite del 10% del reddito dichiarato e comunque nella misura massima di 70.000 euro annui.
                                <br>In questo modo si permette alle associazioni di reperire fondi per la dotazione di un defibrillatore.
                            </p>
                        </span>

                </div>
        </div>
        <div class="row callout">
            <div class="small-12 medium-12 large-12 columns center">
                <h4> Hai dubbi o domande sugli <atrong>incentivi</atrong> dedicati alle aziende?</h4>
                <hr>
                <h5>Richiedi un preventivo o chiama il numero verde!</5>
            </div>
        </div>

    </div>


    <div class="small-12 medium-5 columns">
        <div class="row domande form">
            <div class="small-12 medium-12 large-12 columns">
                <%= partial "partials/form", :locals => { :form_class_large => "large-12", :phone_class_large => "large-12"} %>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="small-12 medium-12 large-12 columns">
        <h3>Scopri come salvare una vita di un collega in Ufficio!</h3>
        <div class="flex-video widescreen">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YDjkkgblBjM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<%= partial "partials/perche_philips" %>

<%= partial "partials/rowCallToAction" %>

<hr class="show-for-large">
<div class="row show-for-large">
    <h2>Oltre 1.000 aziende soddisfatte</h2>
</div>
<br>
<div class="row show-for-large">
    <div class="small-12 columns">
        <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/6d9b3890572535262421773845fb034d5410440e_loghi-aziende.jpg">
    </div>
</div>
