---
title: Defibrillatore Semiautomatico Philips - Il più Venduto al Mondo!
description: Scopri Prezzi, Promozioni e Tutte le Informazioni del Defibrillatore Semiautomatico Philips. Richiedi ora per Maggiori Informazioni!
testata:
    prima_riga: Brembo for Life
    seconda_riga: Progetto per la defibrillazione precoce in azienda
    hasButton: 0
immagineTestata: https://prismic-io.s3.amazonaws.com/philips-defibrillatori/9b25c3dc721788346db67ddf1658f1d1b4caab37_brembo-01.jpg

---

<div class="row">
    <div class="small-12 medium-5 callout secondary columns">

        <h3>I numeri del progetto</h3>

        <hr>

        <p class="medium">
            <trong>Brembo S.p.A.</trong> è una realtà aziendale italiana leader a livello mondiale nella <strong>progettazione, sviluppo e produzione di sistemi frenanti</strong> e componentistica per auto, moto e veicoli industriali.
        </p>
        <p class="medium">
            Questa azienda opera a livello mondiale in <strong>15 Paesi di 3 diversi continenti</strong>, con 24 stabilimenti e siti commerciali, contando sulla collaborazione di oltre 8.800 persone.
        </p>

        <i>Brembo nel mondo</i>
        <ul>
            <li>
                <b>4</b> laboratori di ricerca
            </li>
            <li>
                <b>18</b> siti industriali
            </li>
            <li>
                <b>24</b> uffici commerciali
            </li>
        </ul>
        <i>Numero di dipendenti</i>
        <ul>
            <li>
                <b>Oltre 3,000</b> dipendenti
            </li>
        </ul>
        <i>Numero di defibrillatori in uso</i>
        <ul>
            <li>
                <b>9</b> in Italia
            </li>
            <li>
                <b>3</b> in Polonia
            </li>
        </ul>
        <i>Modelli di defibrillatori</i>
        <ul>
            <li>
                <b>11</b> Philips HeartStart HS1
            </li>
            <li>
                <b>1</b> Philips HeartStart FRX
            </li>
        </ul>
        <i>Numero di esecutori BLSD</i>
        <ul>
            <li>
                <b>350</b> dipendenti formati all'uso del Defibrillatore
            </li>
        </ul>

        <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/3172833d4482af3ecc2f384b71486ec101dade72_brembo_logo.svg.png">

    </div>

    <div class="small-12 medium-7 columns">
        <h2><strong>Brembo For Life</strong></h2>
        <hr>
        <p>
            Brembo S.p.A. ha deciso di investire nella sicurezza e salute dei propri dipendenti sul posto di lavoro.
        </p>

        <p>
            È stato quindi attivato il progetto Brembo for Life per la Defibrillazione Precoce presso i siti italiani di Stezzano - Curno - Mapello con <strong>l’obiettivo di fronteggiare con tempestività le conseguenze dell’arresto cardiaco improvviso</strong>.
        </p>

        <p>
            C’è da far presente che al momento non vi è alcuna norma che vincoli le imprese a introdurre queste apparecchiature all’interno dei propri impianti, tuttavia <strong>Brembo S.p.A. ha scelto di dotarsi volontariamente di questi dispositivi</strong>, proprio perché un arresto cardiaco, prontamente trattato, può salvare la vita di un uomo.
        </p>

        <h2><strong>I defibrillatori</strong></h2>
        <hr>

        <p>
            Grazie al progetto Brembo for Life, Brembo S.p.A. ha installato in Italia <strong>9 defibrillatori con totem personalizzati</strong> (3 per ciascun sito: Stezzano, Curno, Mapello).
            È inoltre disponibile una versione del dispositivo con chiave pediatrica (presso il sito di Stezzano è attivo <strong>Brembo Kids, centro ricreativo temporaneo realizzato per i figli dei dipendenti Brembo e loro conoscenti</strong>).
        </p>
        <p>
            Tutti i 9 dispositivi hanno un dispositivo installato nella borsa del defibrillatore, che consente all’apparecchio di <strong>allertare automaticamente il 118 quando prelevato e di trasmettere la geo-localizzazione esatta della posizione dell’intervento</strong>.
            In più, il progetto è stato esteso al sito produttivo in Polonia dove sono stati installati altri 3 defibrillatori.
        </p>
        <p>
            Ma l’installazione dei defibrillatori fine a se stessa non basta: per questo <strong>Brembo S.p.A ha formato tramite corsi BLSD oltre 350 dipendenti</strong>, che sono ora pronti a fronteggiare un caso di arresto cardiaco all’interno dell’azienda.
        </p>

        <!-- <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/3172833d4482af3ecc2f384b71486ec101dade72_brembo_logo.svg.png"> -->

    </div>
</div>
<hr>

<div class="row">
    <div class="small-12 medium-7 columns">
        <h2>Perché i defibrillatori <strong>Philips</strong></h2>
        <hr>
        <p>
            Brembo ha scelto per tutte le sue sedi i <strong>defibrillatori Philips</strong>. A seguito di un’attenta ricerca tra i produttori di defibrillatori, <strong>Philips è risultata un’azienda leader del settore e con una presenza mondiale</strong>.
            Il dispositivo Philips è semplice ed affidabile e tra i più leggeri sul mercato.
        </p>

        <p>
            <strong>Iredeem S.p.A.</strong> è l’unica realtà che garantisce il sistema di <strong>manutenzione, telecontrollo e collegamento dei dispositivi ad AREU</strong>.
        </p>
        <p>
            Philips Iredeem si è infatti occupata della <strong>messa in opera e del collaudo necessario all’installazione dei defibrillatori</strong> (posizionamento a terra dei totem, primo collaudo dei defibrillatori, installazione del dispositivo di telecontrollo per il monitoraggio a distanza dei defibrillatori)

        </p>

        <!-- <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/3172833d4482af3ecc2f384b71486ec101dade72_brembo_logo.svg.png"> -->

    </div>

    <div class="small-12 medium-5 callout secondary columns">
        <h3>Il ruolo di <strong>Iredeem S.p.A.</strong></h3>
        <hr>

            <p>
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> <strong>Posizionamento</strong> a terra dei totem contenenti i defibrillatori
            </p>
            <p>
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> <strong>Installazione e collaudo</strong> dei defibrillatori
            </p>
            <p>
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> <strong>Installazione del dispositivo di telecontrollo</strong> per il monitoraggio a distanza dei defibrillatori
            </p>
            <p>
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> <strong>Manutenzione</strong> del defibrillatore e sostituzione degli elettrodi in scadenza
            </p>

    </div>


</div>



<hr>
<%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5"} %>