---
title: Defibrillatore Semiautomatico Philips - Il più Venduto al Mondo!
description: Scopri Prezzi, Promozioni e Tutte le Informazioni del Defibrillatore Semiautomatico Philips. Richiedi ora per Maggiori Informazioni!
testata:
    prima_riga: Defibrillatore Philips
    seconda_riga: Proteggi i tuoi cari con un Defibrillatore
immagineTestata: https://philips-defibrillatori.cdn.prismic.io/philips-defibrillatori/ee04a82b1bdc5c5327344f5f3c7652685ccef60c_aiuto.jpg

conversionCode: >
                    <!-- MOMENT -->
                    <script src="https://s3-eu-west-1.amazonaws.com/cdn.fucinadeltag.it/moment.js"></script>
                    <script type="text/javascript">
                        moment.locale('it');
                        var lastDayOfMonth = moment().endOf('month').format("D\ MMMM YYYY");
                        $(".dataPromo").html(lastDayOfMonth);
                    </script>
                    <!-- /MOMENT -->

---
<div class="row banner show-for-medium">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Offerta per condomini</span>
                <br><span class="subSconto">Il 75% degli arresti cardiaci avviene in casa!</span><br>
                <span class="scontoLittle">Acquista subito un defibrillatore!</span>
                <br><span class="subSconto">Offerta valida fino al <span class="dataPromo">31 Gennaio 2016</span></span>
            </a>
        </div>
</div>

<div class="row banner-small show-for-small-only">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">Offerta per condomini</span>
                <br><span class="subSconto">Il 75% degli arresti cardiaci avviene in casa!</span><br>
                <br><span class="subSconto">Offerta valida fino al <span class="dataPromo">31 Gennaio 2016</span></span>
            </a>
        </div>
</div>

<div class="row">
    <div class="small-12 medium-7 columns">
        <div class="row domande">
                <div class="small-12 medium-12 large-12 columns callout">
                    <h3>L' OFFERTA COMPRENDE:</h3>
                    <hr>

                    <!-- <h5><i class="fa fa-check-square-o"></i> Amministratore e condomini sgravati da problemi legali</h5> -->

                    <div class="spazio_bianco_basso"></div>

                    <h5><i class="fa fa-check-square-o"></i> Defibrillatore adatto ad adulti e bambini</h5>
                    <div class="spazio_bianco_basso"></div>
                    <h5><i class="fa fa-check-square-o"></i> Consumabili e loro sostituzione in loco da parte di un nostor tecnico</h5>
                    <div class="spazio_bianco_basso"></div>
                    <h5><i class="fa fa-check-square-o"></i> Montaggio e collaudo del defibrillatore in loco</h5>
                    <div class="spazio_bianco_basso"></div>
                    <h5><i class="fa fa-check-square-o"></i> Teca e cartelli segnalatori per segnalare la presenza del defibrillatore</h5>
                    <div class="spazio_bianco_basso"></div>
                    <h5><i class="fa fa-check-square-o"></i> Assicurazione Full Risk che protegge da furti, cadute accidentali e qualsiasi altro danno</h5>
                    <div class="spazio_bianco_basso"></div>
                    <h5><i class="fa fa-check-square-o"></i> Corso BLSD per 4 condomini organizzato da noi presso i locali del condominio</h5>
                    <div class="spazio_bianco_basso"></div>

                    <h2><strong>Proteggi la tua casa!</strong></h2>

                    <p class="callout">
                        Circa il <strong>75% degli arresti cardiaci avviene tra le mura domestiche</strong>. Un defibrillatore all’interno di un condominio garantisce un tempestivo soccorso, e quindi una maggiore percentuale di sopravvivenza.
                    </p>
                </div>
        </div>


    </div>


    <div class="small-12 medium-5 large-5 columns">
        <div class="row domande form">
            <div class="small-12 medium-12 large-12 columns">
                <%= partial "partials/form", :locals => { :form_class_large => "large-12", :phone_class_large => "large-12"} %>
            </div>
        </div>
    </div>
</div>

<hr>

<!-- <div class="row">
    <div class="small-12 medium-12 large-12 columns">





        <h5><i class="fa fa-check-square-o"></i> ADATTO AD ADULTI E BAMBINI</h5>
        <p>
            Il defibrillatore Philips è adatto per <strong>adulti e bambini</strong>, grazie alla presenza di una semplice chiavetta pediatrica.
        </p>

        <h5><i class="fa fa-check-square-o"></i> FACILE DA USARE</h5>
        <p>
            I nostri dispositivi sono semplici e intuitivi.<br>
            Pochi tasti e un design essenziale per garantire a <strong>chiunque</strong> sia testimone di un arresto cardiaco di intervenire, anche senza <strong>nessuna specifica preparazione</strong>.
        </p>
        <h5><i class="fa fa-check-square-o"></i>  PROTEZIONE PER LA TUA FAMIGLIA</h5>
        <p>
            Avere un defibrillatore a distanza di pochi metri permette di intervenire subito in caso di arresto cardiaco, potendo <strong>salvare la vita a un familiare</strong> o a un vicino di casa.
        </p>
        <h5><i class="fa fa-check-square-o"></i> COSTI DIVISI TRA I CONDOMINI</h5>
        <p>
            Acquistare un defibrillatore all’interno un condominio permette di dividere il costo del dispositivo tra tutte le famiglie che vi abitano.
        </p>


    </div>

</div> -->

<div class="row">
    <div class="small-12 medium-12 large-12 columns">
        <h3>Scopri come salvare una vita di un amico o familiare!</h3>
        <div class="flex-video widescreen">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YDjkkgblBjM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<%= partial "partials/perche_philips" %>

<%= partial "partials/rowCallToAction" %>

<hr class="show-for-large">
<div class="row show-for-large">
    <h2>Oltre 1.000 aziende soddisfatte</h2>
</div>
<br>
<div class="row show-for-large">
    <div class="small-12 columns">
        <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/6d9b3890572535262421773845fb034d5410440e_loghi-aziende.jpg">
    </div>
</div>
