---
layout: master_layout
title: Defibrillatore Philips FRX - Puoi Salvare una Vita!
description: Defibrillatori Philips sono incredibilmente semplici ed Intuitivi, Scegli il DAE Semiautomatico più adatto alla Tua Attività. Scrivici ora per Maggiori Informazioni!
conversionCode: >
                    <!-- MOMENT -->
                    <script src="https://s3-eu-west-1.amazonaws.com/cdn.fucinadeltag.it/moment.js"></script>
                    <script type="text/javascript">
                        moment.locale('it');
                        var lastDayOfMonth = moment().endOf('month').format("D\ MMMM YYYY");
                        $(".dataPromo").html(lastDayOfMonth);
                    </script>
                    <!-- /MOMENT -->

                    <!-- FASCIA SCONTO -->
                    <script type="text/javascript">
                        $(window).scroll(function() {
                            if ($(this).scrollTop() > 250) { //use `this`, not `document`
                                $('.corner-ribbon').css({
                                    'display': 'none'
                                });
                            }
                        });
                        $(window).scroll(function() {
                            if ($(this).scrollTop() < 250) { //use `this`, not `document`
                                $('.corner-ribbon').css({
                                    'display': 'inline'
                                });
                            }
                        });
                    </script>

---
<div class="corner-ribbon top-right sticky red shadow"><strong>Promozione Online</strong></div>
<hr>
<div class="row center">
    <div class="columns">
        <h1><strong>Defibrillatore Philips</strong></h1>
        <h2>Per Adulti e Bambini da 1 anno!</h2>
        <h3><strong><span class="rosso">43% di Sconto</span></strong> fino al <span class="dataPromo">31 ottobre</span></h3>
    </div>
</div>
<hr>
    <div class="row">
        <div class="columns medium-4 small-12">
            <p>
                    <h4><i class="fa fa-check"></i> Per tutti, a partire da 1 anno</h4>
                    <h4><i class="fa fa-check"></i> Un'unica coppia di piastre</h4>
                    <h4><i class="fa fa-check"></i> Resistente all'acqua</h4>
                    <h4><i class="fa fa-check"></i> Resistente alla polvere</h4>
                    <h4><i class="fa fa-check"></i> Il più semplice da usare</h4>
                    <h4><i class="fa fa-check"></i> Assistente vocale</h4>
                    <h4><i class="fa fa-check"></i> Ti guida passo passo</h4>
                    <h4><i class="fa fa-check"></i> 8 anni di garanzia</h4>
            </p>

        </div>
        <div class="columns medium-4 small-12">
            <img src="https://philips-defibrillatori.cdn.prismic.io/philips-defibrillatori/36a9576ce9148aea5fde33e6c843ccf8f8542578_philips-heartstart-frx-valigetta.jpg" alt="Defibrillatore semiautomatico Philips FRX">
        </div>
        <div class="columns medium-4 small-12">
            <section class="form">
                <div id="form" class="row evidenza clearfix">
                    <div class="float-center">
                        <span>Ricevi un Preventivo</span><br>
                        Gratuito, in pochi minuti!
                    </div>

                </div>
                <div class="row">
                    <div class="small-12 medium-12 columns callout">
                        <form data-abide novalidate accept-charset="UTF-8" action="https://formkeep.com/f/4f1774d6670a" method="POST">

                            <input type="hidden" id="deviceForm" name="device" value="large">
                            <input type="hidden" id="campagnaForm" name="campagna" value="direct">
                            <input type="hidden" id="campagnaNameForm" name="nome_campagna" value="not_set">
                            <input type="hidden" id="optimizelyVariationForm" name="optimizelyVariation" value="">
                            <input type="hidden" id="pageFrom" name="pageFrom" value="">

                            <div class="row">
                                <div class="small-12 columns">
                                    <label>E-Mail*
                                        <input type="email" name="email" required>
                                        <span class="form-error">
                                            Il campo E-Mail è obbligatorio
                                        </span>
                                    </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="small-12 columns">
                                    <input type="checkbox" name="privacy" id="privacy" required checked>
                                        <label for="privacy">
                                            Ho letto e accetto l'informativa sulla <a href="/privacy" target="_blank">Privacy</a>
                                            <span class="form-error">
                                                <p>Accetta l'informativa sulla privacy!</p>
                                            </span>
                                        </label>
                                        <p class="small">
                                            <strong>Anche noi odiamo lo spam e le newsletter invasive.</strong><br>
                                            <span>Per questo non ti invieremo posta indesiderata e non cederemo a terzi il tuo contatto.</span>
                                        </p>
                                </div>
                            </div>

                            <div class="row align-center">
                                <fieldset class="small-12 columns">
                                    <button class="ctaButton button" type="submit" value="Submit">Inviami il Preventivo</button>
                                </fieldset>
                            </div>
                      </form>
                    </div>
                </div>
            </section>
        </div>

    </div>
