---
title: Defibrillatore Semiautomatico Philips - Il più Venduto al Mondo!
description: Scopri Prezzi, Promozioni e Tutte le Informazioni del Defibrillatore Semiautomatico Philips. Richiedi ora per Maggiori Informazioni!
testata:
    prima_riga: Richiesta di Noleggio inviata!
    seconda_riga: Riceverai una risposta in poche ore.
    hasButton: 0
immagineTestata: https://prismic-io.s3.amazonaws.com/philips-defibrillatori/0d22bb2a8ea230e622388fb407684b2121e8639e_fpx1388.jpg

headCode: >

---

<div class="row">
    <div class="large-12 columns">
        <h4 class="subheader">
            La tua richiesta di Noleggio operativo è stata presa in carico da:
        </h4>
        <p>
            <strong>FRANCIACORTASERVIZI DI ANDREA CASTELLETTI PER CONTO DI EUROCONSULT RENTAL DIVISION SPA</strong><br>
            VIA IV NOVEMBRE 13<br>
            25064 GUSSAGO (BS)
        </p>
        <p>
            <i>Franciacortservizi è stata incaricata da Iredeem SPA per la gestione dei pagamenti rateali.</i>
        </p>

        <h4>
            A breve riceverai un'email con il dettaglio dei prossimi passaggi!
        </h4>

    </div>

</div>
