---
title: Defibrillatore Semiautomatico Philips - Il più Venduto al Mondo!
description: Scopri Prezzi, Promozioni e Tutte le Informazioni del Defibrillatore Semiautomatico Philips. Richiedi ora per Maggiori Informazioni!
testata:
    prima_riga: Richiesta di Noleggio inviata!
    seconda_riga: Riceverai una risposta in poche ore.
    hasButton: 0
immagineTestata: https://prismic-io.s3.amazonaws.com/philips-defibrillatori/0d22bb2a8ea230e622388fb407684b2121e8639e_fpx1388.jpg

headCode: >

---

<div class="row">
    <div class="large-12 columns">
        <h4 class="subheader">
            La tua richiesta di Noleggio operativo è stata presa in carico da:
        </h4>
        <p>
            <strong>FRANCIACORTASERVIZI DI ANDREA CASTELLETTI PER CONTO DI EUROCONSULT RENTAL DIVISION SPA</strong><br>
            VIA IV NOVEMBRE 13<br>
            25064 GUSSAGO (BS)
        </p>
        <p>
            <i>Franciacortservizi è stata incaricata da Iredeem SPA per la gestione dei pagamenti rateali.</i>
        </p>

        <h4>Cosa succede adesso?</h4>

        <p>
            Entro la giornata riceverai l’esito della richiesta di approvazione della pratica direttamente da Franciacortaservizi tramite posta elettronica dall’indirizzo riservato iredeem@franciacortaservizi.it
        </p>
        <p>
            Unitamente alla conferma ti verranno richiesti via email i seguenti documenti:
            <ul>
                <li>carta identità e tessera sanitaria fronte e retro in regolare validità</li>
                <li>visura camerale aggiornata con evidenza partita iva</li>
                <li>iban completo</li>
                <li>privacy sottoscritte (che ti abbiamo inviato via email in questo momento)</li>
                <li>precontrattualistica sottoscritta (che ti abbiamo inviato via email in questo momento)</li>
            </ul>

        </p>

        <p>
            La pratica verrà istruita in 3/4 giorni lavorativi!
        </p>
        <p>
            A pratica conclusa riceverai una email che ti comunica la spedizione del defibrillatore.
        </p>



    </div>

</div>
