---
title: Defibrillatore Semiautomatico Philips - Il più Venduto al Mondo!
description: Scopri Prezzi, Promozioni e Tutte le Informazioni del Defibrillatore Semiautomatico Philips. Richiedi ora per Maggiori Informazioni!
testata:
    prima_riga: >
                Defibrillatori Philips<br>GUIDA ALL'USO
    seconda_riga: Sempicità e facilità di utilizzo
    hasButton: 0
immagineTestata: https://prismic-io.s3.amazonaws.com/philips-defibrillatori/0d22bb2a8ea230e622388fb407684b2121e8639e_fpx1388.jpg

---

<div class="row banner">
    <div class="small-12 columns">
        <span class="subSconto">Per <strong>assistenza tecnica</strong> chiamare il numero:</span><br>
        <span class="scontoLittle">051 093 5879</span><br>
        <span>Lun-Ven dalle 8.30 alle 18.30</span>
    </div>
</div>

<div class="row">
    <div class="columns callout secondary">
        <h2>Guida all'uso del Defibrillatore Philips HS1</h2>
        <hr>
            <div class="row align-stretch">
                <div class="small-12 medium-12 large-4 columns">
                    <h5 class="subheader"><strong>Come Attivare il Defibrillatore Philips HS1</strong></h5>
                    <div class="flex-video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Ap_XUMFvBjc?rel=0;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>


                </div>
                <div class="small-12 medium-12 large-4 columns">
                    <h5 class="subheader"><strong>Come Sostituire le Piastre del Defibrillatore Philips HS1</strong></h5>
                    <div class="flex-video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/iU8e1pSu2fE?rel=0;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>

                </div>
                <div class="small-12 medium-12 large-4 columns">
                    <h5 class="subheader"><strong>Come Sostituire la Batteria del Defibrillatore Philips HS1</strong></h5>
                    <div class="flex-video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/TBFe0ZBuYos?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>


                </div>

            </div>
            <div class="spazio_bianco"></div>
            <div class="row">
                <div class="column">
                    <h5 class="subheader"><strong>Come si Usa un Defibrillatore Semiautomatico HS1</strong></h5>
                    <div class="flex-video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/f-nRt5ILAqo?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>


                </div>
                <div class="column">
                    <h5 class="subheader"><strong>Come Gestire i Malfunzionamenti del Defibrillatore HS1</strong></h5>
                    <div class="flex-video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Te9Oh64fON4?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>

                </div>

            </div>



    </div>
</div>
<div class="row banner">
    <div class="small-12 columns">
        <span class="subSconto">Per <strong>assistenza tecnica</strong> chiamare il numero:</span><br>
        <span class="scontoLittle">051 093 5879</span><br>
        <span>Lun-Ven dalle 8.30 alle 18.30</span>
    </div>
</div>

<div class="row">
    <div class="columns callout success">
        <h2>Guida all'uso del Defibrillatore Philips FRX</h2>
        <hr>
            <div class="row align-stretch">
                <div class="small-12 medium-12 large-4 columns">
                    <h5 class="subheader"><strong>Come Attivare il Defibrillatore Philips FRX</strong></h5>
                    <div class="flex-video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/uiYAEI14ejY?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>


                </div>
                <div class="small-12 medium-12 large-4 columns">
                    <h5 class="subheader"><strong>Come Sostituire le Piastre del Defibrillatore Philips FRX</strong></h5>
                    <div class="flex-video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/W-TF0UeMmDM?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>

                </div>
                <div class="small-12 medium-12 large-4 columns">
                    <h5 class="subheader"><strong>Come Sostituire la Batteria del Defibrillatore Philips FRX</strong></h5>
                    <div class="flex-video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/f6CE6LxfSOU?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>


                </div>

            </div>
            <div class="spazio_bianco"></div>
            <div class="row">
                <div class="column">
                    <h5 class="subheader"><strong>Come si Usa un Defibrillatore Semiautomatico FRX</strong></h5>
                    <div class="flex-video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/9QJjfu6Vt_w?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>


                </div>
                <div class="column">
                    <h5 class="subheader"><strong>Come Gestire i Malfunzionamenti del Defibrillatore FRX</strong></h5>
                    <div class="flex-video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/koIc5mBp59s?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                    </div>

                </div>

            </div>


    </div>
</div>
