---
title: Welcome to Middleman
---

<div class="top-bar">
<div class="top-bar-left">
<ul class="menu">
<li class="menu-text">Marketing Site 7</li>
<li><a href="#">One</a></li>
<li><a href="#">Two</a></li>
</ul>
</div>
<div class="top-bar-right">
<ul class="menu">
<li><a href="#">Three</a></li>
<li><a href="#">Four</a></li>
<li><a href="#">Five</a></li>
<li><a href="#">Six</a></li>
</ul>
</div>
</div>

<section class="title-container clearfix">
    <div class="float-center">
        <div class="row">
            <div class="small-12 columns title">
                <span class="big">
                    Defibrillatore Philips<br class="show-for-large-up">
                </span>
                <span class="medium">
                    Il più venduto al mondo<br />
                </span>
                <span>
                    <%= partial "partials/callToAction" %>
                </span>
            </div>
        </div>

    </div>
</section>

<div class="row banner">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">43% di Sconto </span><br />
                <span class="subSconto hide-for-small">Promozione valida fino al 29 Febbraio 2016</span><br>
            </a>
        </div>
</div>
<hr>
<p></p>
<section class="applicazioni">

    <div class="row align-stretch ">
            <div class="columns">
                    <h4>Società sportive</h4>
                    <p>
                        <img src="http://placehold.it/1000x300&text=1000*300" />
                    <p>
                    <p>
                        It has an easy to override visual style, and is appropriately subdued.
                    </p>

            </div>
            <div class="columns">
                    <h4>Amministrazioni Pubbliche</h4>
                    <p>
                        <img src="http://placehold.it/1000x300&text=1000*300" />
                    <p>
                    <p>
                        It has an easy to override visual style, and is appropriately subdued.
                    </p>
                    <p>
                        It has an easy to override visual style, and is appropriately subdued.
                    </p>
                    <p>
                        It has an easy to override visual style, and is appropriately subdued.
                    </p>

            </div>
    </div>
    <p></p>
    <div class="row align-stretch">
            <div class="columns">
                    <h4>Aziende</h4>
                    <p>
                        <img src="http://placehold.it/1000x300&text=1000*300" />
                    <p>
                    <p>
                        It has an easy to override visual style, and is appropriately subdued.
                    </p>
                    <p>
                        It has an easy to override visual style, and is appropriately subdued.
                    </p>
                    <p>
                        It has an easy to override visual style, and is appropriately subdued.
                    </p>

            </div>
            <div class="columns">
                    <h4>Soccorritori</h4>

                    <p>
                        <img src="http://placehold.it/1000x300&text=1000*300" />
                    <p>

                    <p>
                        It has an easy to override visual style, and is appropriately subdued.
                    </p>
            </div>
    </div>

    <div class="row align-stretch">
            <div class="columns">
                    <h4>Condomini</h4>
                    <p>
                        <img src="http://placehold.it/1000x300&text=1000*300" />
                    <p>
                    <p>
                        It has an easy to override visual style, and is appropriately subdued.
                    </p>
                    <p>
                        It has an easy to override visual style, and is appropriately subdued.
                    </p>
                    <p>
                        It has an easy to override visual style, and is appropriately subdued.
                    </p>

            </div>
            <div class="columns">
                    <h4>Privati cittadini</h4>

                    <p>
                        <img src="http://placehold.it/1000x300&text=1000*300" />
                    <p>

                    <p>
                        It has an easy to override visual style, and is appropriately subdued.
                    </p>
            </div>
    </div>

</section>
<hr>
<div class="row">
    <h2>Rispondiamo alle vostre domande</h2>
</div>
<div class="row align-stretch">
    <div class="columns">
        <h5>Tutti possono usare un defibrillatore?</h5>
        <p class="subheader">
            Per essere usato <strong>non necessita di personale medico</strong>. Chiunque con un corso di appena 5 ore può usare un defibrillatore.

            Se acquisti un defibrillatore Philips <strong>possiamo organizzare noi i corsi nella tua struttura</strong> o aiutarti a scegliere la soluzione migliore per te.
        </p>
    </div>
    <div class="columns">
        <h5>Di chi è la responsabilità in caso di decesso?</h5>
        <p class="subheader">
            <strong>La resposabilità è del defibrillatore</strong>
            Se il paziente non necessita di scarica, <strong>il defibrillatore non la eroga</strong>. Il defibrillatore è in grado di diagnosticare se veramente il paziente ha bisogno di una scarica. <strong>Nessuna possibilità di errore</strong>!
        </p>
    </div>
    <div class="columns">
        <h5>Come si usa?</h5>
        <p class="subheader">
            <strong>Il defibrillatore Philips ti guida con la voce</strong>. Nulla da leggere o da interpretare.
            Con un design semplice ed essenziale aiuta il soccorritore in ogni fase di utilizzo.
        </p>
    </div>
</div>

<div class="row align-stretch">
    <div class="columns">
        <h5>Può essere usato sui bambini?</h5>
        <p class="subheader">
            Il Defibrillatore Philis rileva automaticamente i dati della persona e adatta la scarica al livello adeguato.

        </p>
    </div>
    <div class="columns">
        <h5>Come mi accorgo se non funziona?</h5>
        <p class="subheader">
            Un test automatico verifica il defibrillatore e lo mantiene <strong>pronto all’uso</strong>. Il defibrillatore è in grado di capire se ha dei problemi e di segnalare nello specifico di che problema si tratta.
        </p>
    </div>
    <div class="columns">
        <h5>Di cosa ho bisongo per tenerlo in funzione?</h5>
        <p class="subheader">
            Il Defibrillatore Philips funziona in completa autonomia.
            E' infatti dotato una batteria della <strong>durata di 4 anni</strong> dalla sua installazione. Non necessita di nessuna manutenzionemanutenzione.
        </p>
    </div>
</div>
<div class="row align-stretch">
    <div class="columns">
        <h5>Di quale manutenzione ha bisogno?</h5>
        <p class="subheader">
            <ul class="subheader">
                <li>Ogni 2 anni è necessario sostituire le piastre</li>
                <li>Ogni 4 anni è necessario sostituire la batteria</li>
            </ul>
        </p>
    </div>
    <div class="columns">
        <h5>Quanto costano le parti consumabili?</h5>
        <p class="subheader">
            <ul class="subheader">
                <li>Batteria: <strong>165 Euro + IVA</strong></li>
                <li>Coppia di elettrodi per adulti: <strong>65 Euro + IVA</strong></li>
                <li>Coppia di elettrodi pediatrici: <strong>111 Euro + IVA</strong></li>
            </ul>
        </p>
    </div>
    <div class="columns">
        <h5>Cosa succede in caso di uso?</h5>
        <p class="subheader">
            In caso di uso il defibrillatore registra tutto quanto successo. I dati andranno poi scaricati e forniti alle autorità competenti. <strong>Un nostro tecnico sarà a disposizoine per assisterti in questi momenti senza nessun costo aggiuntivo</strong>.
        </p>
    </div>
</div>
<hr>
<div class="row">
    <h2>Perchè scegliere un defibrillatore PHILIPS</h2>
</div>
<div class="row align-stretch">
    <!-- <div class="small-6 columns">
        <ul class="accordion" data-accordion data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
                    <a class="accordion-title">
                        <h4>1. Semplice e Facile da Usare</h4>
                    </a>
                    <div class="accordion-content" data-tab-content>
                        <div class="row align-stretch">
                            <div class="columns">
                                <h5>Utilizzabile da persone comuni</h5>
                                <p class="subheader">
                                    Per essere usato <strong>non necessita di personale medico</strong>. Chiunque con un corso di appena 5 ore può usare un defibrillatore.

                                    Se acquisti un defibrillatore Philips <strong>possiamo organizzare noi i corsi nella tua struttura</strong> o aiutarti a scegliere la soluzione migliore per te.
                                </p>
                            </div>
                            <div class="columns">
                                <h5>La responsabilità è del defibrillatore</h5>
                                <p class="subheader">
                                    Se il paziente non necessita di scarica, <strong>il defibrillatore non la eroga</strong>. Il defibrillatore è in grado di diagnosticare se veramente il paziente ha bisogno di una scarica. <strong>Nessuna possibilità di errore</strong>!
                                </p>
                            </div>
                        </div>
                        <div class="row align-stretch">
                            <div class="columns">
                                <h5>Facile e intuitivo con comandi vocali</h5>
                                <p class="subheader">
                                    <strong>Il defibrillatore Philips ti guida con la voce</strong>. Nulla da leggere o da interpretare.

                                    Con un design semplice ed essenziale aiuta il soccorritore in ogni fase di utilizzo.
                                </p>
                            </div>

                            <div class="columns">
                                <h5>Adatto ad adulti e bambini</h5>
                                <p class="subheader">
                                    Rileva automaticamente i dati della persona e adatta la scarica al livello adeguato.
                                </p>
                            </div>
                        </div>
                        <div class="row align-stretch">
                            <div class="columns">
                                <h5>Il più veloce della sua categoria</h5>
                                <p class="subheader">
                                    Grazie alla tecnologia brevettata QuickShock è il più veloce nell’erogazione della scarica.
                                </p>
                            </div>

                            <div class="columns">
                                <h5>Software gratuito incluso</h5>
                                <p class="subheader">
                                    Il defibrillatore è dotato di software per la registrazione, lo scarico e la condivisione dei dati.
                                </p>
                            </div>

                        </div>
                    </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                    <a class="accordion-title">
                        <h4>2. Nessun Bisongo di Manutenzione</h4>
                    </a>
                    <div class="accordion-content" data-tab-content>
                        <div class="row align-stretch">
                            <div class="columns">
                                <h5>8 anni di Garanzia</h5>
                                <p class="subheader">
                                    Garanzia su <srong>tutte le componenti tecnologiche</srong> del defibrillatore escluse le parti consumabili.
                                </p>
                            </div>
                            <div class="columns">
                                <h5>Sempre pronto all'utilizzo</h5>
                                <p class="subheader">
                                    Il defibrillatore ha una batteria della <strong>durata di 4 anni</strong> dalla sua installazione. Non necessita manutenzione.
                                </p>
                            </div>
                        </div>

                        <div class="row align-stretch">
                            <div class="columns">
                                <h5>Test automatici di autoverifica</h5>
                                <p class="subheader">
                                    Un test automatico verifica il defibrillatore e lo mantiene <strong>pronto all’uso</strong>. Il defibrillatore è in grado di capire se ha dei problemi e di segnalare nello specifico di che problema si tratta.
                                </p>
                            </div>
                            <div class="columns">
                                <h5>Consumabili a prezzi convenienti</h5>
                                <ul class="subheader">
                                    <li>Batteria: <strong>165 Euro + IVA</strong></li>
                                    <li>Coppia di elettrodi per adulti: <strong>65 Euro + IVA</strong></li>
                                    <li>Coppia di elettrodi pediatrici: <strong>111 Euro + IVA</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                    <a class="accordion-title">
                        <h4>3. Philips: Sempre al tuo fianco</h4>
                    </a>
                    <div class="accordion-content" data-tab-content>
                        <div class="row align-stretch">
                            <div class="columns">
                                <h5>Centri Assistenza in tutta Italia</h5>
                                <p class="subheader">
                                    Iredeem, distributore Ufficiale Philips, offre un’assistenza capillare in tutte le città italiane. Persone vere a tua disposizione per ogni necessità.
                                </p>
                            </div>
                            <div class="columns">
                                <h5>Installazione e collaudo</h5>
                                <p class="subheader">
                                    Il Defibrillatore Philips verrà <strong>messo in opera e collaudato da un nostro tecnico</strong>. Non dovrai preoccuparti di nulla!
                                </p>
                            </div>
                        </div>
                        <div class="row align-stretch">
                            <div class="columns">
                                <h5>Persone in carne e ossa</h5>
                                <p class="subheader">
                                    Iredeem, distributore Ufficiale di Philips, è una realtà al 100% italiana con sede a Bologna. <strong>La Philips, multinazionale Olandese ha sede a Monza</strong>. Siamo persone vicine a te!
                                </p>
                            </div>
                            <div class="columns">
                                <h5>Aggiornamenti inclusi</h5>
                                <p class="subheader">
                                    In caso di modifica dei protocolli di sicurezza, il tuo defibrillatore verrà aggiornato gratuitamente.
                                    La Philips provvede ad inviare un proprio tecnico per gli aggiornamenti <strong>senza alcuna spesa da parte del cliente</strong>!
                                </p>
                            </div>
                        </div>
                        <div class="row align-stretch">
                            <div class="columns">
                                <h5>Assistenza in caso di uso</h5>
                                <p class="subheader">
                                    In caso di uso il defibrillatore registra tutto quanto successo. I dati andranno poi scaricati e forniti alle autorità competenti. <strong>Un nostro tecnico sarà a disposizoine per assisterti in questi momenti senza nessun costo aggiuntivo</strong>.
                                </p>
                            </div>
                            <div class="columns">
                                <h5>Formazione all'uso</h5>
                                <p class="subheader">
                                    Iredeem, distributore Ufficiale di Philips, offre la gestione dei corsi BLSD e dei relativi corsi di aggiornamento a prezzi vantaggiosi per chi acquista un defibrillatore Philips.
                                </p>
                            </div>
                        </div>
                    </div>
            </li>
        </ul>
    </div> -->
    <div class="columns">
        <ul class="accordion" data-accordion data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
                <a class="accordion-title">
                    <h5>8 anni di Garanzia</h5>
                </a>
                <div class="accordion-content" data-tab-content>
                    <p>
                        Garanzia su <srong>tutte le componenti tecnologiche</srong> del defibrillatore escluse le parti consumabili.
                    </p>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a class="accordion-title">
                    <h5>Installazione e collaudo presso la vostra sede</h5>
                </a>
                <div class="accordion-content" data-tab-content>
                    <p>
                        Il Defibrillatore Philips verrà <strong>messo in opera e collaudato da un nostro tecnico senza costi aggiuntivi</strong>. Non dovrai preoccuparti di nulla!
                    </p>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a class="accordion-title">
                    <h5>Aggiornamenti inclusi</h5>
                </a>
                <div class="accordion-content" data-tab-content>
                    <p>
                        In caso di modifica dei protocolli di sicurezza, il tuo defibrillatore verrà aggiornato gratuitamente.
                        La Philips provvede ad inviare un proprio tecnico per gli aggiornamenti <strong>senza alcuna spesa da parte del cliente</strong>!
                    </p>

                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a class="accordion-title">
                    <h5>Centri Assistenza in tutta Italia</h5>
                </a>
                <div class="accordion-content" data-tab-content>
                    <p>
                        Iredeem, distributore Ufficiale di Philips, è una realtà al 100% italiana con sede a Bologna. <strong>La Philips, multinazionale Olandese ha sede a Monza</strong>. Siamo persone vicine a te!
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="columns">
        <img src="http://placehold.it/1000x600&text=1000x700" />
    </div>
</div>
<hr>
