---
title: Defibrillatore Semiautomatico Philips - Il più Venduto al Mondo!
description: Scopri Prezzi, Promozioni e Tutte le Informazioni del Defibrillatore Semiautomatico Philips. Richiedi ora per Maggiori Informazioni!
testata:
    prima_riga: Un defibrillatore in ogn scuola
    seconda_riga: Gli Studenti della Campania Cardioprotetti
    hasButton: 0
immagineTestata: https://prismic-io.s3.amazonaws.com/philips-defibrillatori/b7e7bd4b25a89ce0017de7bb3234c9a9c9c7cb00_151026-se-hawarden-high-school-2.jpg

---

<div class="row">
    <div class="small-12 medium-5 callout secondary columns">

        <h3>I numeri del progetto</h3>

        <hr>

        <i>Numero di scuole</i>
        <ul>
            <li>
                <strong>4580</strong>
            </li>
        </ul>
        <i>Numero di defibrillatori in uso</i>
        <ul>
            <li>
                <b>4580</b>
            </li>
        </ul>
        <i>Modelli di defibrillatori</i>
        <ul>
            <li>
                <strong>Philips Heartstart HS1</strong>
            </li>
        </ul>
        <i>Numero di esecutori BLSD</i>
        <ul>
            <li>
                <b>9160</b> dipendenti formati all'uso del Defibrillatore
            </li>
        </ul>

        <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/159f5b48bd6ab7b7e53e5ee701e5cabccec59ca8_dsc_0007.jpg">

    </div>

    <div class="small-12 medium-7 columns">
        <h2><strong>Il Progetto</strong></h2>
        <hr>
        <p>
            La Regione Campania ha deciso di provvedere all’acquisto di attrezzature per le scuole, prevedendo la dotazione per le scuole di ogni ordine e grado, di attrezzature didattiche, elettromedicali e di sistemi di sicurezza.
        </p>
        <p>
            E' in quest’ottica di tutela della sicurezza e della salute che <strong>la Regione ha deciso di dotare ogni scuola in Campania di un defibrillatore</strong> per il pronto intervento in caso di arresto cardiaco
        </p>

        <h2><strong>I defibrillatori</strong></h2>
        <hr>

        <p>
            I <strong>4.580 defibrillatori semiautomatici</strong> sono stati posizionati all’interno di teche, poste all’interno degli edifici scolastici della Regione Campania.
        </p>

        <p>
            La probabilità di arresto cardiaco aumenta nei casi in cui il cuore si trova sotto sforzo, come durante l’allenamento fisico: per questo si è cercato di posizionare i defibrillatori vicino alle palestre, o comunque in locali sempre accessibili, come segreterie o portinerie.
            <br>In questo modo, nel caso fosse necessario l’utilizzo, si risparmierebbero minuti preziosi che andrebbero altrimenti persi nel recupero del defibrillatore.
        </p>

        <p>
            <strong>Ogni scuola ha fornito due nominativi per la frequenza del corso BLSD</strong>, che rilascia l’attestato di esecutore BLSD: i corsi si sono tenuti in collaborazione con la Croce Rossa Italiana.
        </p>

        <!-- <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/3172833d4482af3ecc2f384b71486ec101dade72_brembo_logo.svg.png"> -->

    </div>
</div>
<hr>
<div class="row">
    <div class="small-12 columns">
        <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/e14f830919ba69338e505e5655a5f7fa17266221_b57af9b71eb22e9444b6a784bb199425_xl.jpg">
    </div>
</div>
<p></p>
<div class="row">
    <div class="small-12 medium-7 columns">
        <h2>Perché i defibrillatori <strong>Philips</strong></h2>
        <hr>
        <p>
            A seguito della gara per l’aggiudicazione della fornitura dei defibrillatori per le scuole pubbliche in Campania, i defibrillatori Philips sono risultati, tra i concorrenti della gara, <strong>i più competitivi per prezzo</strong>.
        </p>

        <p>
            Nonostante il prezzo conveniente sia il requisito principale nelle gare pubbliche, è stato ritenuto opportuno, data la delicatezza e tecnicità del defibrillatore, che il seggio di gara fosse integrato da due membri esterni alla Regione, appartenenti all’<strong>Ordine dei medici della Regione Campania, con specializzazione in cardiologia ed elettrofisiologia</strong>.
        </p>

        <p>
            Grazie al suo prezzo competitivo e al rispetto delle conformità tecniche richieste dalla Regione Campania, <strong>Philips si è aggiudicata l'affidamento della fornitura e installazione dei defibrillatori per le 4580 scuole</strong>.
        </p>

        <!-- <img src="https://prismic-io.s3.amazonaws.com/philips-defibrillatori/3172833d4482af3ecc2f384b71486ec101dade72_brembo_logo.svg.png"> -->

    </div>

    <div class="small-12 medium-5 callout secondary columns">
        <h3>Il ruolo di <strong>Iredeem S.p.A.</strong></h3>
        <hr>

            <p>
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> <strong>Installazione</strong> delle teche contenenti i defibrillatori
            </p>
            <p>
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> <strong>Posizionamento</strong> a terra dei totem
            </p>
            <p>
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> <strong>Installazione e collaudo</strong> dei defibrillatori
            </p>

    </div>


</div>



<hr>
<%= partial "partials/form", :locals => { :form_class_large => "large-7", :phone_class_large => "large-5"} %>