---
title: Defibrillatore Semiautomatico Philips - Il più Venduto al Mondo!
description: Scopri Prezzi, Promozioni e Tutte le Informazioni del Defibrillatore Semiautomatico Philips. Richiedi ora per Maggiori Informazioni!
testata:
    prima_riga: Arresto cardiaco nello sport
    seconda_riga: Frequenza dell’arresto cardiaco, uso del defibrillatore,<br>obblighi di legge!
    hasButton: 0

immagineTestata: https://prismic-io.s3.amazonaws.com/philips-defibrillatori/b675e1fa27e7a28f18c586a85d1872640e9ea4f8_massaggio-cardiaco.jpg

conversionCode: >

---


<div class="row banner show-for-medium">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">DIRETTA ONLINE GRATUITA </span>
                <br><span class="subSconto">Giovedì 8 giugno ore 15.00</span><br>
            </a>
        </div>
</div>


<div class="row banner-small show-for-small-only">
        <div class="small-12 columns">
            <a href="#form">
                <span class="sconto">DIRETTA ONLINE GRATUITA</span>
                <br><span class="subSconto">Giovedì 8 giugno ore 15.00</span><br>
            </a>
        </div>
</div>




<div class="row">
    <div class="columns medium-6 small-12">
        <h2>Relatori</h2>
        <hr>

        <p>
            <strong>Federico Semeraro</strong>: anestesista rianimatore presso l’Ospedale Maggiore di Bologna e presidente IRC.
        </p>

        <p>
            <strong>Andrea Scapigliati</strong>: anestesista rianimatore presso il Policlinico Gemelli di Roma e vicepresidente IRC.
        </p>

    </div>

    <div class="columns medium-6 small-12">
        <h2>Temi</h2>
        <hr>

        <ul>
            <li>
                L’arresto cardiaco nello sport
            </li>
            <li>
                L’utilizzo del defibrillatore
            </li>
            <li>
                Decreto Balduzzi e gli obblighi di legge 2017
            </li>
            <li>
                Domande e Risposte con i medici
            </li>
        </ul>

    </div>
</div>

<div class="row">

</div>